@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  gap: 2rem;
}

.sidebar_wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar_top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.sidebar_logo {
  width: 3.4rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar_list {
  list-style: none;
}

.sidebar_link {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar_icon {
  font-size:  1.3rem;
  display: inline-block;
}

.sidebar_name {
  margin-left: 0.5rem;
}

.sidebar_logo-name {
  font-size: 1.4rem;
  font-weight: 600;
}

.btn {
  position: absolute;
  right: 0;
  top: 4rem;
  border: none;
  background-color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logo-name {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.header_logo {
  width: 3rem;
  height: auto;
}

.header_title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-left: 20px;
  background: linear-gradient(to right, red 0%, red 5%, blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #b3c6da;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
}

.sidebar_link:hover {
  background-color: #f0f0f0;
  color: #0070f3;
}

/* .sidebar_icon {
  margin-right: 10px;
  transition: transform 0.3s ease;
} */

.sidebar_link:hover .sidebar_icon {
  transform: scale(1.2);
}

